<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
        <meta charset="utf-8">
        <title>{% block title %}Keepinsport{% endblock %}</title>
        
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Page d'accueil de Keepinsport" name="description">
        <meta content="Keepinsport" name="author">
        
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" /> 
        <link rel="icon" type="image/png" href="{{ asset('img/keepinsport_logo_16.png') }}" />
        <link rel="apple-touch-icon" href="{{ asset('img/keepinsport_logo_57.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/keepinsport_logo_72.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/keepinsport_logo_114.png') }}" />
        
        <!-- Le fav and touch icons -->
        <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" />
        <link href="{{ asset('apple-touch-icon.png') }}" rel="apple-touch-icon" />

        {% block stylesheets %}    
            {# bootstrap #}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-responsive.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap_custom_surcharge.css') }}" />
            
            {# jquery ui #}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/smoothness/jquery-ui-1.8.18.custom.css') }}" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('chosen/chosen.css') }}" />

            
            {# bootstrap datepicker et tipemicker et slider#}
            {#<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-datepicker/css/datepicker.css') }}" />#}
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('mobiscroll-2.2/css/mobiscroll-2.2.custom.min.css') }}"  />
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap-slider/css/slider.css') }}" />
            
            {# select custom #}
            <link rel="stylesheet" type="text/css" href="{{ asset('select2-3.4.5/select2.css') }}" type="text/css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('select2-3.4.5/select2-bootstrap.css') }}" type="text/css" />
             
            {# custom radio/checkbox button #}
            <link rel="stylesheet" type="text/css" href="{{ asset('iCheck/skins/square/blue.css') }}" type="text/css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('iCheck/skins/square/yellow.css') }}" type="text/css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('iCheck/skins/square/red.css') }}" type="text/css" />
            <link rel="stylesheet" type="text/css" href="{{ asset('iCheck/skins/minimal/grey.css') }}" type="text/css" />
            
            {# font #}
            <link rel="stylesheet" type="text/css" href="{{ asset('font/fontawesome/css/font-awesome.min.css') }}" >
            <!--[if IE 7]><link type="text/css" rel="stylesheet" href="{{ asset('font/fontawesome/css/font-awesome-ie7.min.css') }}"><![endif]-->
            <link rel="stylesheet" type="text/css" href="{{ asset('font/typicons/typicons.min.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ asset('font/fontello/css/fontello.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ asset('font/fontello/css/animation.css') }}">
            <!--[if IE 7]><link type="text/css" rel="stylesheet" href="{{ asset('font/fontello/css/fontello-ie7.css') }}"><![endif]--> 
            <link rel="stylesheet" type="text/css" href="{{ asset('font/handOfSean/stylesheet.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
            
            {# mes styles #}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"  />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/buttons.css') }}"  />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/navbar.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/dropdown.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('ksUserBubble/ksUserBubble.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ksuser/css/style.css') }}"  />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ksleague/css/leagues.css') }}"  />
            
            <link rel="stylesheet" href="{{asset('jQueryFileUpload/css/jquery.fileupload-ui.css')}}">
            
        {% endblock %}

        {% block javascripts %}
            {# google #}
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            
            {# jquery #}
            <script type="text/javascript" src="{{ asset('js/jquery-1.8.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/ui/jquery-ui-1.8.22.custom.min.js') }}"></script>
            {#<script type="text/javascript" src="{{ asset('js/ui/jquery.ui.datepicker-fr.js') }}"></script>#}
            
            {# bootstrap #}
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
            
            
            {# routing js #}
            <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            
            {# hightcharts #}
            <script type="text/javascript" src="{{ asset('V2/js/highcharts.js') }}"></script>
            <script type="text/javascript" src="{{ asset('V2/js/highcharts-more.js') }}"></script>
            <script type="text/javascript" src="{{ asset('V2/js/solid-gauge.src.js') }}"></script>
            <script type="text/javascript" src="{{ asset('V2/js/exporting.js') }}"></script>
            
            {# pour les listes déroulantes avec image #}
            <script type="text/javascript" src="{{ asset('js/jquery.ddslick.js') }}"></script>
            
            <script type="text/javascript" src="{{ asset('bundles/ksuser/js/popover.js') }}"></script>
            
            {# bootstrap datepicker et tipemicker et slider #}
            {#<script src="{{ asset('bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>#}
            <script src="{{ asset('bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
            <script src="{{ asset('bootstrap-slider/js/bootstrap-slider.js') }}"></script>
            <script type="text/javascript" src="{{ asset('mobiscroll-2.2/js/mobiscroll-2.2.custom.min.js') }}"></script>
            
            {# select custom #}
            <script type="text/javascript" src="{{ asset('select2-3.4.5/select2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('select2-3.4.5/select2_locale_fr.js') }}"></script>
            <script type="text/javascript" src="{{ asset('select2-3.4.5/select2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('select2-3.4.5/functions.js') }}"></script>
            
            {# custom radio/checkbox button #}
            <script type="text/javascript" src="{{ asset('iCheck/jquery.icheck.min.js') }}"></script>
            
            {# divers : encore utilisés ? #}
            <script type="text/javascript" src="{{ asset('js/jquery.meio.mask.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('chosen/chosen-ced.jquery.js') }}"></script>
            
            {# mes scripts #}
            <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/ksclub/js/scripts.js') }}"></script>
            
            {#jqueryFileUpload #}
    {#<script src="{{asset('jQueryFileUpload/js/vendor/jquery.ui.widget.js')}}"></script>#}
    <script src="{{asset('jQueryFileUpload/js/tmpl.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/jquery.iframe-transport.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/jquery.fileupload.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/jquery.fileupload-ui.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/locale.js')}}"></script>
            
            <script type="text/javascript">
                
                $(document).ready(function() {
                    //attachPublishSportSessionEvent($('a[rel="publishSportSessionTrigger"]'));
                    //attachSearchUserEvent($("a[rel=searchUsers]"));
                    //jQuery.noConflict();
                    $("[rel=tooltip]").tooltip();
                    
                    /*initializePopovers( $('body'));  
                    
                    $('.popover').live({
                        mouseover: function() {
                            clearTimeout(timer);
                        },
                        mouseleave: function() {
                            var self = this;
                            timer = setTimeout(function(){hidePopover(popover_parent)},300); 
                        }
                    
                    /*$("#navbar li.sportif").mouseenter (function() {
                        $( ".navbar-fixed-top-second" ).hide();
                        $( "#navbar-sportif" ).show();
                    });
                    
                    $("#navbar li.friends").mouseenter (function() {
                        $( ".navbar-fixed-top-second" ).hide();
                        $( "#navbar-friends" ).show();
                    });
                    
                    $("#navbar li.clubs").mouseenter (function() {
                        $( ".navbar-fixed-top-second" ).hide();
                        $( "#navbar-clubs" ).show();
                    });
                        
                    $("#navbar li.wikisport").mouseenter (function() {
                        $( ".navbar-fixed-top-second" ).hide();
                        $( "#navbar-wikisport" ).show();
                    });
                    
                    $("#navbar li.other").mouseenter (function() {
                        $( ".navbar-fixed-top-second" ).hide();
                    });
                    
                    $("#navbar-sportif, #navbar-friends, #navbar-clubs, #navbar-wikisport").mouseleave(
                        function() {
                            $( ".navbar-fixed-top-second" ).hide();
                        }
                    );*/
                    
                    if( $("#searchSelectTablet").size() > 0 || $("#searchSelectDesktop").size() > 0) {
                        var translations = {
                            "placeholder": "{{ "menu.search-placeholder"|trans }}",
                            "no-matches-found" : "{{ "menu.no-matches-found"|trans }}",
                            "searching" : "{{ "menu.searching"|trans }}",
                        };
                        initSelect2ForResearch( $("#searchSelectTablet"), translations );
                        initSelect2ForResearch( $("#searchSelectDesktop"), translations );
                    }
                    
                    window.addEventListener('resize', function() { 
                        resizeMainContainer();
                    }, false);
                    
                    function resizeMainContainer() {
                        //console.log("resize");
                        //console.log(document.body.clientWidth);
                        if (document.body.clientWidth < 753) {
                            //console.log('visible-phone');
                            $("#mainContainer").css('margin-top', '-20px');
                        }
                        else if (document.body.clientWidth > 753 && document.body.clientWidth < 964) {
                            //console.log('visible-tablet');
                            $("#mainContainer").css('margin-top', '-40px');
                        }
                        else {
                            //console.log('visible-desktop');
                            $("#mainContainer").css('margin-top', '70px');
                        }
                    }
                    
                    resizeMainContainer();
                });
            </script>
        {% endblock %}
	</head>
    
	<body style="width:auto">

            {% include '::infoModal.html.twig' %}
            {% include '::confirmModal.html.twig' %}
            {% include '::multipleChoicesModal.html.twig' %}
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% include 'KsActivityBundle:Activity:_shareActivityModal.html.twig' %}
                {% render "KsActivityBundle:SportsmenSearch:form" %}
            {% endif %}

            {% include '::_header.html.twig' %}
            
            <div class="wrapper">
                <div id="mainContainer" class="container" style="margin-top:70px;">
                    
                    {#<div class="visible-desktop visible-tablet">
                        {% render 'KsUserBundle:User:feedbackBloc' %}
                    </div>#}
                    <div class="row-fluid">
                        <div class="span12" style="padding:10px;margin-bottom: 20px"> {# FIXME: en dur car le responsive design passe par dessus mon css quand on est en vue smartphone #}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% render "KsUserBundle:User:netAffiliation_728x90" %}
                            {% endif %}
                                
                            <div class="thumbnail ksBloc">
                                {% block body %}{% endblock %}         
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            {% include '::_google_analytics.html.twig' with { 'google_analytics' : google_analytics } %}  
            

        {% block bottomscripts %}
        {% endblock %}

    </body>
    <div class="visible-desktop visible-tablet">
        {% include '::_footer.html.twig' %}
    </div>
</html>