<a data-toggle="dropdown" class="dropdown-toggle" href="#">
    {{ 'agenda.label'|trans }}
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
      
      {#<li><a href="{{ path('ks_synchro_google_agenda') }}">{{ 'users.synchro_with_google_agenda'|trans }}</a></li>
      <li><a href="{{ path('ks_synchro_keepin_agenda') }}">{{ 'users.synchro_gagenda_with_keepinagenda'|trans }}</a></li>
      <li><a href="{{ path('ks_invitation_event_in_stand_by') }}">{{ 'users.invitation_event_in_stand_by'|trans }}</a></li>#}
      
</ul>
