<a class="btn btn-sportif btn-small" href="{{ path('ksProfile_informations', {'creationOrEdition' : creationOrEdition}) }}">{{'users.my_informations'|trans}}</a>
<a class="btn btn-sportif btn-small" href="{{ path('ksProfile_adresses', {'creationOrEdition' : creationOrEdition}) }}">{{'users.my_address'|trans}}</a>
<a class="btn btn-sportif btn-small" href="{{ path('ksProfile_avatars', {'creationOrEdition' : creationOrEdition}) }}">{{'users.my_avatar'|trans}}</a>
<a class="btn btn-sportif btn-small" href="{{ path('ksProfile_sports', {'creationOrEdition' : creationOrEdition}) }}">{{'users.my_sports'|trans}}</a>
<a class="btn btn-sportif btn-small" href="{{ path('ksProfile_mails', {'creationOrEdition' : creationOrEdition}) }}">{{'users.my_mails'|trans}}</a>
<a class="btn btn-sportif btn-small" href="{{ path('ksProfile_character', {'creationOrEdition' : creationOrEdition}) }}">{{'users.my_buddy'|trans}}</a>
<a class="btn btn-sportif btn-small" href="{{ path('ksProfile_equipment', {'creationOrEdition' : creationOrEdition}) }}">{{'users.my_equipement'|trans}}</a>