<a class="btn btn-sportif" href="{{ path('ksProfile_informations', {'creationOrEdition' : creationOrEdition}) }}">Mes informations</a>
<a class="btn btn-sportif" href="{{ path('ksProfile_adresses', {'creationOrEdition' : creationOrEdition}) }}">Mon adresse</a>
<a class="btn btn-sportif" href="{{ path('ksProfile_avatars', {'creationOrEdition' : creationOrEdition}) }}">Mon avatar</a>
<a class="btn btn-sportif" href="{{ path('ksProfile_sports', {'creationOrEdition' : creationOrEdition}) }}">Mes sports</a>
<a class="btn btn-sportif" href="{{ path('ksProfile_mails', {'creationOrEdition' : creationOrEdition}) }}">Mes notifications</a>