<div class="col-md-2" >
    <div class="txt-saison">{{ 'titles.do-sport'|trans|raw }}</div>
    <span class="glyphicon glyphicon-user"></span>
</div>
<div class="col-md-1"> <span class="glyphicon glyphicon-arrow-right"></span></div>
<div class="col-md-2">
    <div class="txt-saison">{{ 'titles.cumul-points'|trans|raw }}</div>
    <span class="glyphicon glyphicon-signal"></span>
</div>
<div class="col-md-1"> <span class="glyphicon glyphicon-arrow-right"></span> </div>
<div class="col-md-2">
    <div class="txt-saison">{{ 'titles.reach-gold-league'|trans|raw }}</div>
    <span class="glyphicon glyphicon-star"></span>
</div>
<div class="col-md-1"> <span class="glyphicon glyphicon-arrow-right"></span></div>
<div class="col-md-2" >
    {#<a href="{{ path('ksShop_list') }}">#}
    <a href="#">
        <div class="txt-saison">{{ 'titles.win-price'|trans|raw }}</div>
        <span class="glyphicon glyphicon-flag"></span>
    </a>
</div>
<br/>