<div id="thumbs">
    {% for key, photo in photos %}   
    <div class="thumb" key="{{ key }}">
    	<a href="#">
            <img width="100px" {{ asset('img/wiki/' ~ article.id ~ '/thumbnail/' ~ photo.path ) }} src="{{ asset('img/wiki/' ~ article.id ~ '/thumbnail/' ~ photo.path ) }}" alt="" />
            <span>{{ photo.description }}</span>
        </a>
        
    </div>
    <input id="cb_delete_photo_{{ key }}" class="photos_to_delete" style="display:none" type="checkbox" value="{{ photo.path }}">
    {% endfor %}

    <br style="clear:both;"/>
</div>
</br>
{% if photos|length > 0 %} 
    <div class="alert alert-info">{{'article.blur-pictures'|trans}} </div>
{% endif %}

<style>
   #thumbs{
	margin: 0;padding: 0;
	-moz-box-shadow:0px 0px 10px #000;
	-webkit-box-shadow:0px 0px 10px #000;
}
 
.thumb{
	margin:0;padding: 0;
	position:relative;
	/*width:240px;
	height:150px;*/
	overflow:hidden;
	list-style-type:none;
	float:left;
 
}
 
.thumb a{text-decoration:none;margin:0;padding:0;}
 
.thumb img{border:none;}
 
.blur-clone{
	position:absolute;
}
 
.blur-meta{
	width:240px;height:150px;
	position:absolute;
	bottom:0;right:0;
	text-align:right;
	font-family:'Fontdiner Swanky';
	font-size:16px;
	background-color:#fff;
	color:#000;	
}
 
.blur-meta span{
	position:absolute;
	bottom:0;right:0;
	padding:3px 5px;
	width:240px;
}
</style>
<script type="text/javascript">
    var $thumbs = $(".thumb");
    blurImages($thumbs);
</script>
        

