{% extends "::layout_3_6_3.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ksactivity/css/style.css') }}" /> 
    
    {#jqueryFileUpload #}
    <link rel="stylesheet" href="{{asset('jQueryFileUpload/css/jquery.fileupload-ui.css')}}">
    
    {# JQuery sliders #}
    <link rel="stylesheet" href="{{asset('bundles/ksactivity/css/slider.css')}}">
    
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ksactivity/js/scripts.js') }}"></script>
    
    {# textarea extensibles #}
    <script src="{{ asset('js/jquery.elastic.source.js') }}"></script>
    
    {# zoom sur photos #}
    <script src="{{ asset('colorbox/jquery.colorbox.js') }}"></script>
    
    {#jqueryFileUpload #}
    {#<script src="{{asset('jQueryFileUpload/js/vendor/jquery.ui.widget.js')}}"></script>#}
    <script src="{{asset('jQueryFileUpload/js/tmpl.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/jquery.iframe-transport.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/jquery.fileupload.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/jquery.fileupload-ui.js')}}"></script>
    <script src="{{asset('jQueryFileUpload/js/locale.js')}}"></script>
        
    {# JQuery sliders #}
    <script src="{{ asset('bundles/ksactivity/js/jquery-slider.js') }}"></script>
        
{% endblock %}
    
{% block title %}
	{{ parent() }}
{% endblock %}

{% block left_column %}{% endblock %}
    
{% block center_column %}
    {% if app.session is defined and app.session is not null and app.session.getFlashes()|length > 0 %}
        {% for key, message in app.session.getFlashes() %}
            <div class="{{ key }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endif %}
    
    {% block center_column_content %}{% endblock %}
    
{% endblock %}
