{% extends "KsUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}
    
{% block content %}

<h1>InvitationEmailBeta creation</h1>

<form action="{{ path('invitationemailbeta_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('invitationemailbeta') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}